:root {
	--zinc-300: rgb(212 212 216);
	--zinc-400: rgb(161 161 170);;
	--zinc-500: rgb(113 113 122);
  --indigo-100: rgb(224 231 255);
  --indigo-400: rgb(129 140 248);
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
	height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(31 41 55);
  padding: 32px 16px;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/* Global */
.text-sm {
  font-size: var(--text-sm);
}

.text-bold {
  font-weight: 600;
}

.text-muted {
  color: var(--zinc-500);
}

.btn-icon {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  color: var(--zinc-500);
  transition: color 0.3s;
}

.btn-icon:hover {
  color: var(--indigo-400);
}

.section-title {
  margin-bottom: 8px;
  font-size: var(--text-xs);
  font-weight: 600;
  color: var(--zinc-400);
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* data table */
.data-table {
	max-width: 970px;
	margin: 32px auto;
	border: 2px solid var(--zinc-300);
	border-radius: 10px;
}

.data-table .head,
.data-table .row {
  display: flex;
  align-items: center;
	padding: 10px 16px;
  gap: 16px;
}

.data-table .head {
  display: none;
  font-size: var(--text-sm);
	font-weight: 600;
	color: var(--zinc-500);
	border-bottom: 2px solid var(--zinc-300);
}

.data-table .row {
  border-bottom: 1px solid var(--zinc-300);
}

.data-table .row:last-child {
  border-bottom: none;
}

.data-table .col-company {
  flex: 0 0 140px;
  max-width: 140px;
  grid-area: company;
}

.data-table .col-status {
  flex: 1 0 100px;
  grid-area: status;
}

.data-table .col-about {
  flex: 1 1 250px;
  grid-area: about;
}

.data-table .col-users {
  flex: 0 0 160px;
  grid-area: users;
}

.data-table .col-license {
  flex: 0 0 100px;
  grid-area: license;
}

.data-table .col-actions {
  flex: 0 0 60px;
  grid-area: actions;
}

/* company info */
.data-table .company-info {
	display: flex;
  align-items: center;
  line-height: 20px;
}

.data-table .company-info .info {
  margin-left: 14px;
}

/* status */
.data-table .status {
  width: 100px;
  font-weight: 600;
  font-size: var(--text-xs);
  padding: 2px 8px;
  border-radius: 20px;
  text-align: center;
}

.data-table .status.status--green {
  color: rgb(21 128 61);
  background-color: rgb(220 252 231);
}

.data-table .status.status--red {
  color: rgb(185 28 28);
  background-color: rgb(254 226 226);
}

/* users */
.data-table .users {
  display: flex;
}

.data-table .users .user-profile,
.data-table .users::after {
  border: 3px solid white;
  border-radius: 100%;
  object-fit: cover;
  margin-left: -12px;
  width: 40px;
  height: 40px;
}

.data-table .users .user-profile:first-child {
  margin-left: 0px;
}

.data-table .users::after {
  content: attr(data-users);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color: var(--indigo-400);
  background-color: var(--indigo-100);
  font-size: var(--text-sm);
  font-weight: 600;
}

.data-table .users[data-users="0"]::after {
  display: none;
}

/* license used progress */
.data-table .progressbar,
.data-table .progressbar .progressbar-inner {
  height: 8px;
  border-radius: 10px;
}

.data-table .progressbar {
  width: 100px;
  background-color: var(--indigo-100);
}

.data-table .progressbar .progressbar-inner {
  background-color: var(--indigo-400);
}

/* actions */
.data-table .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

@media (min-width: 831px) {
  .section-title {
    display: none;
  }

  .data-table .head {
    display: flex;
  }
}

@media (max-width: 830px) {
  .data-table .row {
    display: grid;
    grid-template-areas:
      'company about status'
      'license users actions';
    grid-template-columns: minmax(150px, 1fr) 1fr 100px;
    align-items: start;
    gap: 16px 30px;
  }

  .data-table .col-actions {
    align-self: center;
  }
}

@media (max-width: 525px) {
  .data-table .row {
    grid-template-areas:
      'company users'
      'about status'
      'license actions';
    grid-template-columns: 1fr 1fr;
    gap: 14px;
  }

  .data-table .actions {
    justify-content: flex-start;
  }
}